@charset "utf-8";
header {
    background-color: #647072;
    height: 128px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-logo {
    float: left;
}

.header-nav li a {
    color: #34338d;
}

.header-nav li a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
    color: #1f1f1f;
    font-size: 15px;
    line-height: 2;
}

.content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  /*  background-color: #4c64cf;*/
}

#index h1 {
    margin-top: 140px;
    margin-bottom: 50px;
}

.btn {
    width: 80%;
    border: double 8px #2d8142;
}

.btn p {
    font-size: larger;
}

.gameIcon {
    width: 128px;
    height: 128px;
    float: left;
    margin-left: 0%;
    padding-left: 0%;
}

footer {
    text-align: center;
    color: #1f1f1f;
    padding: 20px;
    font-size: 18px;
}