@charset "utf-8";
@font-face {
    font-family: "customFont";
    src: url(TAユニバーサルライン_BDY_D.ttf);
}

html {
    height: auto;
}

header {
    /* background-color: rgba(0, 0, 0, 0.4);*/
    background-color: #000000;
    height: auto;
    text-align: center;
}

#header-logo {
    /*   border: outset 4px #9c9c9c;
    box-sizing: border-box;*/
    text-align: center;
    width: 15%;
}

#topBtn {
    width: 40px;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

.headerSideBox {
    max-height: 100%;
}

#headerRightImg {
    max-height: 100%;
    float: right;
}

#headerLeftImg {
    float: left;
}

p, h1, h2, h3, h4, h5, h6, small, li, a {
    margin: 0;
    padding: 0;
    font-family: "customFont";
}

#game, #pic, #other {
    background-color: #ebebeb;
}

img {
    vertical-align: bottom;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 2;
    height: 100%;
}

.sectionTitle {
    border-bottom: dashed 1px #000000;
    margin-bottom: 16px;
}

main {
    height: 100%;
    border-top: solid 1px #bebebe;
    /*  display: flex;
    flex-wrap: wrap;*/
}

#content {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 64%;
    height: 100%;
    border-right: solid 1px #bebebe;
    border-left: solid 1px #bebebe;
}

#mainTitle {
    margin: 48px;
    text-align: center;
}

section {
    width: 100%;
    border-bottom: solid 1px #bebebe;
    box-sizing: border-box;
    padding: 0px 12px 12px 12px;
    background-color: #ffffff;
    font-size: 100%;
}

.mainList {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    width: 30%;
    height: fit-content;
    margin: 12px 0px;
    padding: 0%;
    border: double 4px #000000;
    background-color: #ffffff
}

.btn:hover {
    background-color: #ebebeb;
}

.upperButton {
    border-bottom: solid 1px #000000;
    background-color: #ffffff;
}

.btn .underButton {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.upperButton .productTitle {
    text-align: center;
    margin: 0%;
}

.btn .underButton .productIcon {
    border: solid 4px #ffffff;
    outline: solid 1px #000000;
    width: 30%;
    height: auto;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

.btn .underButton .descriptionArea {
    height: 100%;
    padding: 0%;
    display: contents;
    border: solid 2px #000000;
    font-size: 100%;
}

.btn .underButton {
    height: auto;
}

.btn .underButton .description {
    width: 100%;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    margin: 1%;
}

.soundBox {
    width: 30%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    margin: 12px 0px;
    padding: 0%;
    border: double 4px #000000;
    background-color: #ffffff
}

audio {
    max-width: 100%;
}

.picBox {
    width: 180px;
    height: 180px;
    display: inline-block;
}

.picBtn {
    margin: 6px;
    padding: 0%;
    background-color: #ffffff;
    border: double 4px #000000;
    width: auto;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}

.picBtn:hover {
    background-color: #ebebeb;
}

#picSection {
    height: auto;
    max-height: 100vh;
    display: inline-block;
    position: relative;
}

.innerPic {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.pagePic {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#sidebar-left {
    position: -webkit-sticky;
    font-size: small;
    position: sticky;
    margin: 0 auto;
    padding: 0;
    top: 0;
    float: left;
    width: 18%;
    text-align: left;
    background-color: #ffffff;
}

#sidebar-right {
    position: -webkit-sticky;
    font-size: small;
    position: sticky;
    margin: 0 auto;
    padding: 0;
    top: 0;
    float: right;
    width: 18%;
    text-align: center;
    background-color: #ffffff;
}

.sideTitle {
    text-align: center;
    margin: 8px 0;
}

.sideBtn {
    max-width: 60px;
    width: 30%;
    margin: 4px;
}

#unity-canvas {
    margin-top: 24px;
}

.description {
    width: 40%;
    text-align: left;
    line-height: 135%;
    display: inline-block;
    font-family: "customFont";
}

#topShortcut{
    display: none;;
}

#menu{
    display: none;
}

.twitter-timeline {
    display: inline-block;
}

#content #unityContent #processing-pattern {
    width: 50%;
    height: 50%;
}

footer {
    height: 4%;
    border-top: solid 1px #bebebe;
    margin-top: -1px;
    text-align: center;
    background-color: #000000;
    padding: 12px;
    font-size: 18px;
    color: #ffffff;
}

@media screen and (max-width:800.1px) {
    #content {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-right: solid 1px #bebebe;
        border-left: solid 1px #bebebe;
    }
    .description {
        width: 80%;
        line-height: 135%;
        display: inline-block;
        font-family: "customFont";
    }

    #topShortcut {
        display: block;
        width: 40%;
        text-align: left;
        line-height: 135%;
        margin: 0 auto;
    }

    .btn {
        width: 80%;
        height: fit-content;
        margin: 12px 0px;
        padding: 0%;
        border: double 4px #000000;
        background-color: #ffffff
    }
    #sidebar-left {
        display: none;
    }
    #sidebar-right {
        display: none;
    }
    .soundBox {
        width: 80%;
        height: auto;
        display: inline-block;
        box-sizing: border-box;
        margin: 12px 0px;
        padding: 0%;
        border: double 4px #000000;
        background-color: #ffffff
    }

    #menu{
        display: block;
    }

    #menuBtn {
        position: fixed;
        top: 6vw;
        right: 2%;
        display: flex;
        height: 40px;
        width: 40px;
        background-color: #000000;
        margin-top: 8px;
        align-items: center;
        justify-content: center;
        z-index: 2147483647;
    }
    
    #menuBtn span, #menuBtn span:before, #menuBtn span:after {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
    }
    
    #menuBtn span:before {
        bottom: 8px;
    }
    
    #menuBtn span:after {
        top: 8px;
    }
    
    #menuCheck:checked~#menuBtn span {
        background-color: rgba(0, 0, 0, 0);
    }
    
    #menuCheck:checked~#menuBtn span:before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #menuCheck:checked~#menuBtn span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    #menuCheck {
        display: none;
    }
    
    #menuContent {
        display: none;
        
    }
    
    #menuCheck:checked~#menuContent {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #c0c0c0;
        display: flex;
        top: 0px;
        right: 0;
        display: inline-block;
    }
    
    .centeredMenu {
        display: inline-block;
       text-align: center;
    }
}